{% extends 'base.html.twig' %}

{% block title %}New Servicios{% endblock %}

{% block body %}
    <h1>Create new Servicios</h1>

    {{ include('servicios/_form.html.twig') }}

    <a href="{{ path('app_servicios_index') }}">back to list</a>
{% endblock %}
