{% extends 'base.html.twig' %}

{% block title %}New DetalleFactura{% endblock %}

{% block body %}
    <h1>Create new DetalleFactura</h1>

    {{ include('detalle_factura/_form.html.twig') }}

    <a href="{{ path('app_detalle_factura_index') }}">back to list</a>
{% endblock %}
